@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h1{
   color: red;
   font-size: 30px;
}
/* width and height */

div{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-color: red;


     
    /* fornt family */
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, sans-serif;


    /* border family  */
    
    border: 4px solid green
}