/* ================= MOBILE RESPONSIVE ================= */
@media (max-width: 768px){

    /* navigation */
    #navbar{
        flex-direction: column;
    }

    #navbar ul li a{
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
    }

    /* home */
    #home{
        height: 370px;
        padding: 3px 68px;
    }

    #home::before{
        height: 280px;
    }

    #home p{
        font-size: 13px;
    }

    /* services */
    #services{
        flex-direction: column;
    }

    #services .box{
        padding: 4px;
        margin: 2px 0px;
        margin-bottom: 20px;
    }

    /* clients */
    #clients{
        flex-wrap: wrap;
    }

    #clients img{
        width: 66px;
        padding: 6px;
        height: auto;
    }

    /* contact */
    #contact-box form{
        width: 80%;
    }

    /* utility */
    .h-primary{
        font-size: 26px;
    }

    .btn{
        font-size: 13px;
        padding: 4px 8px;
    }
}