@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}


.container {
    max-width: 1180px;
  margin: auto;
   padding: 10px 20px;
}


.main-nav {
  display: flex;
  align-items: center;
}

     .company-logo img {
      width: 200px;
}

/* Nav links */
.nav-links {
  margin-left: auto;
}

.nav-links ul {
  display: flex;
  gap: 40px;
}

.hover-links {
  color: gray;
  text-decoration: none;
  font-size: 16px;
}