*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    min-height: 100vh;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    background: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0,15,35 rgba(0, 0, 0, 0.2);
}

.calc h1{
    text-align: center;
    margin-bottom: 10px;
    color: brown;
}
.input-box{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.input-box span{
    font-weight:14px;
    font-size: 20px;
    color: #667eea;
}

.input-box input{
    padding: 10px;
    font-size: 10xp;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}


.input-box input:focus{
    border-color: #667eea;
}

.input-box button{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    background: #667eea;
    border: none;
    transition: 0.3;
    cursor: pointer;
    
}

.input-box button:hover{
    background: #5a67d8;
}