body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 240px;
}
button{
    margin: 5px 0;
    padding: 6px 12px;
    cursor: pointer;
}

.card{
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
}