*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background: #002339;
    color: #fff;

}
.container{
    margin:12%;
    width: 90%;
    max-width: 700px;

}
.display{
    width: 100%;
    margin: 50px 0 30px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 30px;
    border-radius: 5px;
}



.container h1{
    font-weight: 500;
    font-size: 45px;

}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;

}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px;

}

.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;


}


/* Add more things  */

button,
.display,
.display img,
input {
    transition: all 0.3s ease;
}


.container button:hover {
    background: #8ac1a9;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(1, 159, 85, 0.4);
}

.container button:active {
    transform: scale(0.97);
}

.display:focus-within {
    box-shadow: 0 0 0 3px rgba(1, 159, 85, 0.4);
}

.display img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

@media (max-width: 768px) {
    .container {
        margin: 10%;
    }

    .container h1 {
        font-size: 32px;
    }

    .display input {
        font-size: 18px;
    }

    .container button {
        font-size: 18px;
        padding: 14px 20px;
    }
}

input::placeholder {
    color: #aaa;
}



