/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  background: #ffffff;
  width: 420px;
  padding: 30px 35px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}


.container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 25px;
}


.quote {
  font-size: 18px;
  color: #444;
  line-height: 1.5;
  margin-bottom: 15px;
  position: relative;
}


.author {
  font-size: 14px;
  color: #777;
  font-style: italic;
  margin-bottom: 25px;
  position: relative;
  justify-content: right;
  display: flex;

}


.btn {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn button {
  padding: 12px 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  
}


.btn .new {
  background: #667eea;
  color: #fff;
}

.btn .new:hover {
  background: #5a67d8;
}


.btn .copy {
  background: #1da1f2;
  color: #fff;
}

.btn .copy:hover {
  background: #0d8ddf;
}
